.input-email-field {
  width: 100%;
  padding: 16px;

  color: var(--text-color);
  font-size: 16px;

  border: 1.5px solid var(--input-border);
  border-radius: 12px;

  background-color: var(--input-background);

  outline: none;
}

.input-email-field:focus {
  border: 1.5px solid var(--input-border-focus);
}
