.input-email-field {
  width: 100%;
  padding: 16px;

  color: #131337;
  font-size: 16px;

  border: 1.5px solid rgb(19 19 55 / 12%);
  border-radius: 12px;

  background-color: #fff;

  outline: none;
}

.input-email-field:focus {
  border: 1.5px solid #0500ff;
}
