.social-auth-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;

  margin-top: 24px;
}

.social-auth-divider {
  position: relative;

  display: flex;
  gap: 12px;
  align-items: center;

  width: 100%;
  margin-bottom: 24px;
}

.social-auth-divider-text {
  color: var(--text-or-color);
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}

.social-auth-divider::before,
.social-auth-divider::after {
  content: '';

  flex-grow: 1;

  height: 1px;

  background-color: var(--divider-color);
}

.social-auth-button {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;

  width: 344px;
  height: 48px;
  padding: 12px 16px;

  color: var(--text-color);
  font-weight: 600;
  font-size: 16px;
  font-family: Inter, sans-serif;

  border: 1px solid var(--input-border);
  border-radius: 12px;

  background-color: transparent;

  cursor: pointer;

  transition: background-color 0.3s ease;
}

.social-auth-button:hover {
  background-color: rgb(19 19 55 / 4%);
}

.social-auth-button img {
  width: 24px;
  height: 24px;
}
