.personal-info-container {
  padding: 20px;

  font-family: sans-serif;
}

.section-info-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 25px;
}

.section-info-header h2 {
  margin: 0;

  color: #000;
  font-weight: 500;
  font-size: 24px;
  font-family: Inter, sans-serif;
  font-style: normal;
}

.status-bar {
  margin-bottom: 20px;
  padding: 10px;

  background-color: #fff;
}

.verified-badge,
.unverified-badge {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 94px;
  height: 20px;
  margin-left: 9px;
  padding: 0;

  font-weight: bold;
  font-size: 14px;
}

.verified-badge {
  color: #19e068;

  background-color: rgb(25 224 104 / 20%);
}

.unverified-badge {
  color: #d01313;

  background-color: rgb(255 0 0 / 20%);
}

.table-container {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px 20px 40px 40px;

  background-color: #fff;

  box-shadow: 0 4px 12px rgb(0 0 0 / 6%);
}

.info-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
}

.info-section,
.section {
  flex: 1 1 45%;

  min-width: 300px;
}

.section-info-content {
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;

  font-size: 16px;
}

.edit-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 195px;
  height: 37px;
  margin-top: 0;
  margin-right: 0;
  padding: 0;

  color: var(--white);
  font-weight: 600;
  font-size: 16px;

  border: none;
  border-radius: 8px;

  background-color: var(--blue);

  cursor: pointer;

  transition: 0.3s all;
}

.edit-button:hover {
  background-color: #0056b3;
}

.section-info-content p {
  margin: 8px 0;
}

.reset-link {
  color: #000;
  text-decoration: underline;
}

.divider {
  width: 651.01px;
  height: 1px;
  margin: 0 auto;
  padding: 0;

  border: none;

  background-color: #eceff2;
}

.section {
  margin-bottom: 40px;
}

.section-info-content label {
  display: flex;
  flex-direction: column;

  margin-bottom: 12px;

  font-weight: 500;
}

.field-row {
  display: flex;
  align-items: center;

  margin-bottom: 16px;
}

.field-label {
  display: inline-block;

  width: 189px;
  margin-bottom: 16px;

  color: rgb(19 19 55 / 48%);
  font-weight: 500;
  font-size: 16px;
  font-family: Inter, sans-serif;
}

.field-value {
  margin-bottom: 20px;

  color: #000;
  font-size: 16px;
}

.section-info-content input,
.section-info-content select {
  display: flex;
  align-items: center;

  width: 202px;
  height: 40px;
  margin-bottom: 14px;

  font-size: 14px;

  border: 1px solid #ccc;
  border-radius: 10px;

  background-color: #f7f7f7;

  outline: none;
}

.section-info-content input:focus,
.section-info-content select:focus {
  border-color: #007bff;

  background-color: #fff;
}

.verify-link {
  margin-left: 14px;
  padding: 0;

  color: #000;
  font-size: 16px;
  text-decoration: underline;

  border: none;

  background: none;

  cursor: pointer;
}

.save-button {
  width: 195px;
  height: 37px;
  margin-top: 12px;
  margin-right: 0;
  padding: 8px 16px;

  color: var(--white);
  font-weight: 600;
  font-size: 18px;

  border: none;
  border-radius: 12px;

  background-color: var(--blue);

  cursor: pointer;

  transition: 0.3s all;
}

.save-button:hover {
  background-color: #00c;
}

.phone-input-wrapper {
  display: flex;
  gap: 8px;
}

.shift-left {
  padding-left: 8px;
}
