.testimonials-item {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 27px;
  justify-content: space-between;

  width: 510px;
  padding: 46px 25px 65px;

  border: 1px solid #0500ff;
  border-radius: 12px;

  background-color: #fff;
}

.testimonials-text-mark {
  display: flex;
  justify-content: space-between;
}

.star {
  width: 26px;
  height: 25px;
}

.testimonials-text {
  display: flex;
  gap: 10px;
}

.testimonials-title {
  display: flex;
  flex-direction: column;
  gap: 10px;

  color: #131337;
}

.testimonials-name {
  font-weight: 700;
  font-size: 24px;
}

.testimonials-role {
  color: rgb(19 19 55 / 64%);
  font-size: 18px;
}

.testimonials-mark {
  display: flex;
  gap: 6px;
}

.testimonials-description {
  flex-grow: 1;

  color: #131337;
  font-size: 20px;
}

@media (width <= 1024px) {
  .testimonials-item {
    width: 450px;
    min-height: 243px;
    padding: 46px 20px 45px;
  }

  .testimonials-description {
    font-size: 18px;
  }
}

@media (width <= 479px) {
  .testimonials-name {
    font-weight: 600;
    font-size: 20px;
  }

  .testimonials-item {
    width: 380px;
    min-height: 230px;
    padding: 26px 10px 35px;
  }

  .testimonials-description {
    font-size: 18px;
  }
}
