.plan-section-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;

  padding: 130px 0 0;
}

.plan-section-list {
  display: flex;
  flex-direction: row;
  gap: 25px;
  justify-content: center;
}

@media (width >= 2560px) {
  .plan-section-wrapper {
    gap: 40px;

    padding: 130px 160px 0;
  }

  .plan-section-list {
    gap: 45px;
  }
}

@media (width<= 1440px) {
  .plan-section-list {
    padding: 0 40px;
  }
}

@media (width< 1024px) {
  .plan-section-list {
    flex-wrap: wrap;
  }
}

@media (width <= 479px) {
  .plan-section-list {
    padding: 0 20px;
  }
}
