.plan-section-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;

  padding: 130px 188px 0;
}

.plan-section-list {
  display: flex;
  flex-direction: row;
  gap: 25px;
  justify-content: center;
}
