.privacy-container {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.line {
  height: 20px;
  width: 1px;
  background-color: #e5e7eb;
}

.policy,
.terms {
  font-size: 16px;
  font-weight: 600;
  color: #131337;
  cursor: pointer;
}
