.phone-section-container {
  display: flex;
  justify-content: center;

  margin-top: 10px;
}

.confirmation-table {
  width: 577px;
  height: 252px;
  padding: 30px;

  text-align: center;

  border-radius: 12px;

  background-color: #f0f0f0;
}

.message {
  margin-bottom: 15px;

  color: #131337;
  font-weight: 600;
  font-size: 20px;
  font-family: Inter, sans-serif;
}

.subtext {
  margin-bottom: 25px;

  color: gray;
  font-size: 16px;
}

.code-inputs {
  display: flex;
  gap: 10px;
  justify-content: center;

  margin-bottom: 20px;
}

.code-box {
  width: 40px;
  height: 40px;

  font-size: 24px;
  text-align: center;

  border: 1px solid #ccc;
  border-radius: 10px;

  background-color: #e0e0e0;
}

.verify-container {
  display: flex;
  justify-content: center;
}

.verify-button {
  width: 246px;
  height: 36px;
  padding: 0;

  color: var(--white);
  font-size: 14px;

  border: none;
  border-radius: 6px;

  background-color: var(--blue);

  cursor: pointer;
}

.verify-button:hover {
  background-color: #0056b3;
}
