.auth-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-container {
  margin-bottom: 96px;
}

.logo {
  width: 40px;
  height: 40px;
}

.auth-title {
  width: 344px;
  height: 40px;
  margin-bottom: 24px;

  color: #131337;
  font-weight: 600;
  font-size: 32px;
  white-space: nowrap;
  text-align: center;
  text-overflow: ellipsis;

  overflow: hidden;
}
