.auth-header-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;

  margin-top: 56px;
}

.auth-header-title {
  margin-bottom: 24px;

  color: var(--text-color);
  font-weight: 600;
  font-size: 32px;
  text-align: center;
}

.auth-header-logo {
  width: 64px;
  height: 64px;
}
