.sign-in-form-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  min-height: 100vh;
  padding: 10px;
}

.sign-in-form-container form {
  width: 344px;
}

.sign-in-form-inputs-group {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input-email {
  display: flex;
  flex-direction: column;
  gap: 16px;

  max-width: 344px;
  margin-top: 24px;
}
