.sign-in-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  min-height: 100vh;
  padding: 10px;
}

.input-email {
  display: flex;
  flex-direction: column;
  gap: 16px;

  width: 90%;
  max-width: 344px;
  margin-top: 24px;
}
