.testimonials-section-wrapper {
  display: flex;
  flex-direction: column;
  gap: 60px;
  justify-content: center;

  width: 100%;
  padding: 130px 0 0;

  overflow: hidden;
}

.testimonials-items-columns {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: stretch;
}

.testimonials-slider {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.slick-slide {
  width: 510px !important;
}

.slick-track {
  display: flex;
  gap: 20px;
}

@media (width >= 2560px) {
  .slick-track {
    padding: 20px !important;
  }

  .slick-slide {
    width: 650px !important;
    height: 100% !important;
  }
}

@media (width <= 1024px) {
  .slick-slide {
    width: 450px !important;
  }
}

@media (width <= 768px) {
  .testimonials-slider-rtl {
    display: none;
  }
}

@media (width <= 479px) {
  .slick-slide {
    width: 380px !important;
  }
}
