.navigation-wrapper {
  display: flex;
  gap: 48px;
  align-items: center;
}

.navigation-link {
  color: var(--text-description-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
}
