.problem-section {
  display: flex;
  flex-direction: column;
  gap: 60px;
  justify-content: center;

  padding: 130px 105px 0;
}

.problem-cards-wrapper {
  display: flex;
  gap: 150px;
  justify-content: center;
}
