.problem-section {
  display: flex;
  flex-direction: column;
  gap: 60px;
  justify-content: center;

  padding: 130px 0 0;
}

.problem-cards-wrapper {
  display: flex;
  gap: 130px;
  justify-content: center;
}

@media (width<= 1440px) {
  .problem-cards-wrapper {
    gap: 80px;

    padding: 0 40px;
  }
}

@media (width < 1024px) {
  .problem-cards-wrapper {
    flex-wrap: wrap;
  }
}

@media (width <= 479px) {
  .problem-cards-wrapper {
    padding: 0 20px;
  }
}
