* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --grey: #131337a3;
  --blue: #0500ff;
  --white: #fff;
}

body {
  font-family:
    Inter,
    -apple-system,
    'Helvetica Neue',
    sans-serif;
}
