* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --grey: #131337a3;
  --blue: #0500ff;
  --white: #fff;
  --red: #e91527;
  --color-midnight: #131337;
  --color-blue-hover: #3f3bff;
  --color-midnight-48: rgb(19 19 55 / 48%);
  --color-blue-50: rgb(5 0 255 / 50%);
}

button {
  border: none;

  background-color: inherit;

  cursor: pointer;
}

body {
  width: 100%;

  color: var(--text-color);
  font-family:
    Inter,
    -apple-system,
    'Helvetica Neue',
    sans-serif;

  background-color: var(--background-color);

  overflow-x: hidden;
}
