body.dark-theme {
  color: #fff;

  background-color: #171717;
}

.theme-toggle-wrapper {
  display: flex;
  justify-content: end;
}

.theme-toggle {
  padding: 8px 12px;

  font-size: 16px;

  border: none;

  background: transparent;

  cursor: pointer;
}

body.dark-theme .theme-toggle img {
  filter: invert(1);
}

body.dark-theme .theme-toggle {
  color: #fff;
}

body.dark-theme .auth-header-title {
  color: #fff;
}

body.dark-theme .input-email-field,
body.dark-theme .password-field {
  color: #fff;

  border: 1px solid rgb(255 255 255 / 12%);

  background-color: rgb(255 255 255 / 8%);
}

body.dark-theme .input-email-field:focus,
body.dark-theme .password-field:focus {
  border: 1.5px solid #fff;
}

body.dark-theme .toggle-button {
  filter: brightness(0) invert(1) opacity(0.48);
}

body.dark-theme .continue-button,
body.dark-theme .submit-button {
  color: #000;

  background-color: #fff;
}

body.dark-theme .go-back-button {
  color: #fff;
}

body.dark-theme .text-description {
  color: rgb(255 255 255 / 64%);
}

body.dark-theme .link-signin,
body.dark-theme .link-signup,
body.dark-theme .link-restore {
  color: #fff;
}

body.dark-theme .social-auth-divider-text {
  color: rgb(255 255 255 / 48%);
}

body.dark-theme .social-auth-divider::before,
body.dark-theme .social-auth-divider::after {
  background-color: rgb(255 255 255 / 12%);
}

body.dark-theme .social-auth-button {
  color: #fff;

  border: 1px solid rgb(255 255 255 / 16%);
}

body.dark-theme .policy-link {
  color: #fff;
}
