.continue-button {
  width: 344px;
  height: 48px;
  margin-top: 24px;
  padding: 12px 16px;

  color: #fff;
  font-weight: 600;
  font-size: 18px;

  border: none;
  border-radius: 12px;

  background-color: #0500ff;

  cursor: pointer;

  transition:
    background-color 0.3s ease,
    margin-top 0.3s ease;
}

.continue-button:hover {
  background-color: #0400cc;
}
