.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 16px;
  align-items: center;

  height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 24px;

  background-color: white;
}

.grid-item {
  grid-column: span 4;
}
