.send-in-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.auth-header {
  position: absolute;
  top: 60px;
  left: 50%;

  transform: translateX(-50%);
}

.continue-button {
  margin-top: 5px;
}

.rule-text {
  position: absolute;
  left: 50%;
  bottom: 10px;

  width: 100%;

  transform: translateX(-50%);
}
