.password-container {
  position: relative;
}
.input-wrapper {
  position: relative;
}
.password-field {
  width: 100%;
  padding: 16px;
  border: 1.5px solid rgba(19, 19, 55, 0.12);
  border-radius: 12px;
  outline: none;
  color: #131337;
  font-size: 16px;
}
.password-field:focus {
  border: 1.5px solid #0500ff;
}

.password-field.invalid {
  border: 1.5px solid #ef4444;
  color: #131337;
}

.toggle-button {
  position: absolute;
  right: 16px;
  top: 50%;
  width: 20px;
  height: 20px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}
.error-text {
  color: red;
  font-size: 16px;
  font-weight: 500;
  margin-top: 8px;
  text-align: left;
}
