.rule-text {
  display: flex;
  gap: 64px;
  justify-content: center;

  padding: 24px 16px;

  color: #131337;
  font-weight: 600;
  font-size: 16px;
}

.rule-link {
  color: #131337;
  font-weight: 600;
  text-decoration: none;
}

.rule-link:hover {
  text-decoration: underline;
}
